//General.scss
//Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

//General
body {
  font-family: $font_family;
}

.general_container {
  width: 100%;
  min-width: $container_min_width;
  overflow-x: hidden;
}
