//Variables.scss

//container
$container_max_width: 1200px;

//general
$primary_color_text: #4e3d1e;
$font_family: 'Roboto', sans-serif;

//Header
$menu_height: 80px;
$font_size_icon_menu: 14px;
$margin_menu: 30px;
$padding_left_right_menu: 20px;
$font_size_icon_hamburger_menu: 30px;

//btn
$color_text_menu_btn: #3f51b5;
$background_color_btn: #3f51b5;
